@using Secrets.Models
@model User
<div id="register">
    <h1>Register</h1>
    <form asp-action="register" method="POST">
        <!-- <span asp-validation-for="Username"></span>
        <span asp-validation-for="Email"></span>
        <span asp-validation-for="Password"></span>
        <span asp-validation-for="Verify"></span> -->
        @Html.ValidationSummary(false, "")
        Username:
        <input type="text" asp-for="Username">
        Email:
        <input type="email" asp-for="Email">
        Password:
        <input type="password" asp-for="Password">
        Confirm Password:
        <input type="password" asp-for="Verify">
        <input type="submit" value="Register!">
    </form>
</div>
<div id="login">
    <h1>Log in</h1>
    <form action="login" method="POST">
        @Html.ValidationSummary(false, "")
        Email:
        <input type="email" name="email">
        Password:
        <input type="password" name="passwordAttempt">
        <input type="submit" value="Log In!">
    </form>
</div>